<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js File Upload App</title>
</head>
<body>
<div id="app">
    <app></app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.3/dist/vue-router.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const FILE_TYPE = 'text/csv';
  const FILE_EXTENSION = '.csv';
  const MAX_FILE_SIZE = 10 * 1024; // 10KB

  // Define components
  const HeaderLinks = {
    template: `
        <div>
          <router-link to="/">File Upload</router-link>
          <router-link to="/uploaded-files-list">Uploaded Files List</router-link>
        </div>
      `
  };

  const FileUpload = {
    data () {
      return {
        fileInput: null,
        file: null,
        error: null
      };
    },
    methods: {
      handleFileUpload ($event) {
        this.error = null;
        this.fileInput = $event.target
        if (!this.fileInput || !this.fileInput.files || this.fileInput.files.length === 0) {
          this.error = 'Please select a file to upload.';
          return;
        }

        if (this.fileInput.files.length > 1) {
          this.error = 'You can download only one file at a time.';
          return;
        }

        this.file = this.fileInput.files[0];

        if (this.file.name.substring(this.file.name.length - 4).toLowerCase() !== FILE_EXTENSION || this.file.type !== FILE_TYPE) {
          this.error = 'File must be of .csv type';
          return;
        }

        if (this.file.size > MAX_FILE_SIZE) {
          this.error = `File size must be less or equal to ${MAX_FILE_SIZE} bytes.`;
        }
      },
      handleFileSubmit ($event) {
        if (this.error) {
          $event.preventDefault();
          return false;
        }

        const formData = new FormData();
        formData.append('file', this.file, this.file.name);
        const headers = { 'Content-Type': 'multipart/form-data' };
        axios.post('http://localhost:3000/file', formData, { headers }).then((res) => {
          this.fileInput.value = null;
        }).catch(error => {
          this.error = 'Something went wrong. Please try again';
        });
      },
    },
    template: `
      <div>
      <form @submit="handleFileSubmit">
        <h2>File Upload</h2>
        <input type="file" name="fileToUpload" ref="fileInput" @change="handleFileUpload"/>
        <!--        <button @click="handleFileSubmit">Upload File</button>-->
        <button type="submit">Upload File</button>
      </form>
      <p style="color: red;" v-if="error">{{ error }}</p>
      </div>
    `
  };

  const UploadedFilesList = {
    data () {
      return {
        uploadedFiles: [],
      };
    },
    methods: {
      getUploadedFilesList () {
        axios.get('http://localhost:3000/file/list').then((res) => {
          this.uploadedFiles = [];

          res.data.forEach(file => {
            for (let i = 0; i < file.versions.length; i++) {
              const version = file.versions[i];
              const fileInfo = {
                id: file.id,
                ...(i === 0) && { name: file.name },
                url: version.url,
                size: version.size,
                version_id: version.version_id,
                created_at: version.created_at,
              };

              this.uploadedFiles.push(fileInfo);
            }
          });
        });
      }
    },
    template: `
      <div>
      <h2>Uploaded Files List</h2>
      <table border="1">
        <thead>
        <tr>
          <td>id</td>
          <td>name</td>
          <td>size</td>
          <td>url</td>
          <td>createdAt</td>
          <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(file, index) in uploadedFiles" :key="index">
          <td>{{ file.id }}</td>
          <td>{{ file.name }}</td>
          <td>{{ file.size }}</td>
          <td>{{ file.url }}</td>
          <td>{{ file.created_at }}</td>
          <td><a :href="'http://localhost:3000/file/content/' + file.id + '/' + file.version_id"
                 target="_blank">View</a></td>
        </tr>
        </tbody>
      </table>
      </div>
    `,
    created () {
      this.getUploadedFilesList();
    }
  };

  const routes = [
    {
      path: '/',
      components: { default: FileUpload, header: HeaderLinks }
    },
    {
      path: '/uploaded-files-list',
      components: { default: UploadedFilesList, header: HeaderLinks },
    },
    {
      path: '/*',
      components: { default: FileUpload, header: HeaderLinks }
    }
  ];

  const router = new VueRouter({
    routes
  });

  Vue.component('app', {
    data () {
      return {
        uploadedFiles: [],
        fileInput: null,
        error: null
      };
    },
    methods: {
      handleFileUpload () {
        this.error = null;

        if (!this.fileInput || !this.fileInput.files || this.fileInput.files.length === 0) {
          this.error = "Please select a file to upload.";
          return;
        }

        const file = this.fileInput.files[0];
        this.uploadedFiles.push(file);
        this.fileInput.value = null;
      },
    },
    router,
    template: `
      <div>
      <h1>Vue.js File Upload App</h1>

      <router-view name="header"></router-view>
      <router-view></router-view>
      </div>
    `
  });

  new Vue({
    el: '#app'
  });
</script>
</body>
</html>
